.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.header-content {
  width: 100%;
  height: 64px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logo-img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.logo-text {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25em;
  color: #3e3f43;
}

.main-nav ul {
  font-family: "Nunito";
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 0;
}

.main-nav ul li:nth-child(2) {
  margin-left: 62px;
}

.main-nav ul li:nth-child(3) {
  margin-left: 64px;
}

.main-nav ul li:nth-child(4) {
  margin-left: 64px;
}

.nav-item {
  font-size: 30px;
  font-weight: 400;
  font-family: "Nunito";
  color: #612999;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-item:hover {
  color: #8345d3;
}

.nav-item.active {
  font-weight: 700;
}

.ice-cream-background {
  width: 100%;
  height: 797px;
  aspect-ratio: 1200 / 797;
  margin-top: 0;
  background-image: url("../images/page1-ice-craem-body.svg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.welcome-text {
  position: absolute;
  margin-top: 32px;
  margin-left: 32px;
}

.welcome-text h1 {
  font-family: "Nunito";
  font-size: 96px;
  margin: 0;
  color: #612999;
}

.welcome-text p {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin-top: 16px;
  color: #3e3f43;
}

.about-section {
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.about-section h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #612999;
  margin-bottom: 32px;
}

.about-section p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 20px;
  line-height: 141%;
  color: #000000;
  text-align: justify;
  margin-bottom: 24px;
}

.popular-section {
  padding-left: 32px;
  padding-right: 32px;
}

.popular-title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #612999;
}

.cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: flex-start;
  margin-bottom: 32px;
  padding-inline: 32px;
}

.card {
  position: relative;
  width: 376px;
  height: 496px;
  background-color: #efecff;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heart-container {
  position: absolute;
  margin-top: 35px;
  margin-left: 287px;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-background {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.heart-icon {
  position: absolute;
  width: 23px;
  height: 20px;
}

.heart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
}

.card-img {
  width: 100%;
  height: 276px;
  object-fit: cover;
  border-radius: 24px;
}

.card-title {
  font-family: "Abel";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  margin-top: 21px;
  margin-left: 32px;
}

.card-description {
  font-family: "Abel";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  text-align: justify;
  margin-top: 7px;
  margin-bottom: 16px;
  width: 315px;
  margin-left: 32px;
}

.price-section {
  position: absolute;
  left: 32px;
  bottom: 36px;
  font-family: "Abel";
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  color: #612999;
}

.cart-container {
  position: absolute;
  bottom: 27px;
  left: 262px;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 63px;
}

.cart-background {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}

.cart-icon {
  position: absolute;
  width: 31px;
  height: 31px;
}

footer {
  width: 100%;
  height: 287px;
  background-color: #efecff;
}

.footer-columns {
  display: flex;
  gap: 150px;
}

.footer-left,
.footer-right {
  width: 126px;
  padding-top: 32px;
  padding-left: 32px;
}

.footer-left h4,
.footer-right h4 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 16px;
}

.footer-left ul,
.footer-right ul {
  font-family: "Nunito";
  list-style: none;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.footer-right ul a {
  text-decoration: none;
  color: #333;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.footer-logos {
  display: flex;
  margin-top: 24px;
  padding-left: 32px;
  gap: 24px;
}

.footer-logo-item img {
  height: 24px;
}

.footer-copy {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  color: #333;
  padding-left: 32px;
  margin-top: 16px;
}